
body { background-image: url(../img/bg.png);  }

.clearfix:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }

.container-wrapper { margin-top:100px; }

/* LOGO TEXT && SEARCH INPUT && BASKET */
.logo-text, .search-wrapper, .basket-wrapper { width:33%; text-align:center; }
.basket-wrapper, .search-wrapper { display:flex; align-items: center; }
.basket, .search { width:100%; }


/*HEADER CONTAINER*/
	.header-wrapper { width:70%; margin:0 auto; background-color:#545A5D; opacity:0.8; color:#FFF; }
	.header { width:100%; padding:20px; display:flex; justify-content: space-between; }


/* LOGO TEXT */
	.logo-text h1, p { margin:0; font-family: 'Quicksand', sans-serif;  }

/* SEARCHING INPUT*/
	.search { font-family: 'Quicksand', sans-serif; }
	.search input { color:#000; font-family: 'Quicksand', sans-serif; }


/*BASKET*/
	.basket  { display: flex; align-items: center; font-family: 'Quicksand', sans-serif;}
	.basket div:first-child { width:30%; float:left; } 
	.basket div:last-child { float:left; width:70%; text-align:left; }
	.quantity-products { border:1px solid #FFF; padding:5px 25px; }

/*MAIN WRAPPER CONTAINER WITH DATA AND NAVIGATION BUTTONS*/
	.catalog-wrapper { width:70%; margin:0 auto; margin-bttom:100px; font-family: 'Quicksand', sans-serif; }
	.catalog { width:100%; }
	.catalog h4 { color:#FFF; }
	.table-responsive tbody { background-color:#000; opacity:0.8; }
	.table-responsive { color:#FFF; }
	.table-responsive a { text-decoration: none; color:#FFF; }
	.table-responsive a:hover { color:#FFF; }
	.table thead td { font-weight: bold; }


/*FORM ADD PRODUCTS TO BASKET*/
	.myForm { display:none; position:fixed; z-index:1; padding-top:100px; left:0; top:0; width:100%; height:100%; overflow: auto; background-color:rgb(0,0,0); background-color: rgba(0,0,0,0.4); font-family: 'Quicksand', sans-serif;}
	.form-buttons input { float:right; }
	.form-buttons { padding-top:10px; padding-bottom: 10px;}
	.form-basket-wrapper { width:100%; }
	.form-basket { border:1px solid black; width:20%; margin-left:auto; margin-right:auto; margin-top:100px;  background-color:#FFF; }
	.form-basket-header { display:flex; align-items: center; }
	.form-basket-header h6 { width:50%; float:left; padding-left:10px;}
	.form-basket-header a { width:50%; float:right; text-align: right; padding-right:10px;}
	.middle { display:flex; justify-content: center; padding-top:50px; padding-bottom:50px; border-top: 1px solid black; border-bottom: 1px solid black; }
	.buttons input { width:100%; border-top-left-radius:10px; border-top-right-radius: 10px; background-color:#788486; border-color:#788486; color:#FFF;}
	.buttons div {width:16.6%; float:left; }



/*SUMMARY TABLE*/

	/*.summary-table { width:50%; margin-left:auto; margin-right: auto; margin-top:50px; background-color:#545A5D; opacity: 0.8; padding:30px 40px;}*/
	.summary-table { display:none; position:fixed; z-index:1; padding-top:100px; left:50%; top:50%; width:50%; height:60%; overflow: auto; background-color:rgb(0,0,0); background-color: rgba(0,0,0,0.9); transform:translate(-50%,-50%); padding:30px 40px; font-family: 'Quicksand', sans-serif;}
	.summary-header { margin-bottom: 30px; }
	.summary-table thead { margin-top:70px;  }
	.summary-left { display:block; width:50%; float:left; text-align: left; font-size:30px; font-weight: bold; color:#FFF; }
	.summary-right { display:block; width:50%; float:right; text-align:right; }
	.table-summ { width:100%; text-align: center;}
	.table-summ thead tr td { font-size:25px; font-weight: 800;  }
	.table-summ tbody tr { padding:15px 0px; }



/* RESPONSIVE WEB DESIGN */
@media all and (max-width:1430px) {
	.search span, .search_input, .search input[type="submit"]  { display:block; width:60%; margin:0 auto; }
}

@media all and (max-width:1200px) {
	.quantity-products { text-align: center; }
	.quantity-products span { display:block; margin:0 auto; text-align: center; }
}

@media all and (max-width: 1140px) {
	.form-basket { width:40%; }
}

@media all and (max-width:890px) {
	.header { display:block; }
	.logo-text { display:block; width:100%; margin-bottom: 30px;}
	.search-wrapper, .basket-wrapper { width:50%; float:left; }
}

@media all and (max-width:768px) {
	.table, .table thead, .table tbody, .table tr, .table td, .table th { display:block;  }
	.table tbody td { position:relative; padding-left:40%!important; }
	.table thead td { display:none; }
	.table tbody td:before { position:absolute; left:5px; font-weight: 800;  }
	.table tr:nth-child(even) { background-color:#788486; }

	.table tbody td:nth-of-type(1):before { content:'Tytul'; }
	.table tbody td:nth-of-type(2):before { content:'Data'; }
	.table tbody td:nth-of-type(3):before { content:'Cena'; }
	.table tbody td:nth-of-type(4):before { content:'Autor'; }
	.table tbody td:nth-of-type(5):before { content:'Wydawnictwo'; }

	.table-summ { width:100%; }
	.table-summ tbody tr { padding:0 20px; }
}

@media all and (max-width: 630px) {
	.form-basket { width:55%; }
}














